In [2]:
import numpy as np
import matplotlib.pyplot as plt
import tensorflow as tf
import pandas as pd
import random

In [ ]:
# 시그모이드 함수
def sigmoid(x):
    return 1/(1+np.exp(-x).astype(np.float64))

In [36]:
def tanh(x):  # 하이퍼볼릭 탄젠트 함수
    return (np.exp(x)-np.exp(-x))/(np.exp(x)+np.exp(-x))

In [22]:
def relu(x):  # relu 함수
    return max(0,x)

In [5]:
data = pd.read_csv("MOCK_DATA.csv")
data

,CertificateNums,VolunteerHours,Donation,YearsOfService,FineNums,ShoppingNums,ShoppingAmount,Stock,RealEstateSearch,ElectricCar,BMI,Sex,Age,TravelNums,SNSFriends,BookNums,UseTrafficNums
0,1.87,56.87,1,4.52,-9,4.66,92695.82,0,7,1,19.19,0,8,1.60,148,2.03,14.16
1,1.54,44.34,0,3.40,-3,4.48,104661.87,0,1,1,24.16,0,2,1.33,142,1.99,16.83
2,3.98,60.37,0,4.49,-5,4.69,91292.12,1,0,0,24.49,0,2,1.55,47,2.01,15.98
3,2.79,46.33,1,4.22,-2,4.47,115118.65,1,5,1,24.76,1,9,1.62,395,1.99,20.09
4,2.28,42.92,1,5.81,-4,5.77,106202.76,1,8,0,19.54,1,2,1.45,309,2.02,13.54
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2.33,52.84,0,4.54,-6,7.92,116831.41,0,9,0,21.44,0,8,1.44,82,2.01,16.85
996,2.71,58.24,1,3.57,-8,4.78,96511.36,1,3,0,24.52,1,5,1.51,280,1.99,15.95
997,2.26,46.84,0,6.57,-9,6.12,95559.36,0,1,0,24.33,1,7,1.45,204,1.98,15.99
998,3.51,55.81,1,5.86,-5,5.70,98984.89,1,6,0,21.76,0,9,1.42,315,2.01,11.81
999,2.30,49.89,1,5.10,-1,5.40,95246.31,1,6,0,25.78,0,2,1.60,48,2.01,16.13

In [6]:
data.columns[0]

'CertificateNums'

In [7]:
random.randint(-20,20)

-9

In [49]:
M = 17       # 입력 데이터의 차원
K = 5      # 출력 클래스의 수
n = 200     # 각 클래스에 속한 데이터 수
N = n * K   # 전체 데이터 수

# 샘플 데이터 생성
X1 = data[data.columns[0]]
X2 = data[data.columns[1]]
X3 = data[data.columns[2]]
X4 = data[data.columns[3]]
X5 = data[data.columns[4]]
X6 = data[data.columns[5]]
X7 = data[data.columns[6]]
X8 = data[data.columns[7]]
X9 = data[data.columns[8]]
X10 = data[data.columns[9]]
X11 = data[data.columns[10]]
X12 =  data[data.columns[11]]
X13 =  data[data.columns[12]]
X14 =  data[data.columns[13]]
X15 = data[data.columns[14]]
X16 = data[data.columns[15]]
X17 = data[data.columns[16]]

w1,w2,w3,w4,w5,w6,w7,w8,w9,w10,w11,w12,w13,w14,w15,w16,w17 = np.random.uniform(-10,10,17)

In [50]:
print(w1,w2,w3,w4,w5,w6,w7,w8,w9,w10,w11,w12,w13,w14,w15,w16,w17)

6.320254394651382 8.895752968079211 -5.067801394786223 8.985178918619145 -9.04038652049241 8.432668261287482 0.4478656183999732 -9.095763975387198 8.268500925910484 -1.3999260741098283 8.226385879819993 -6.2292698094190495 3.3635350286438896 -7.956329856990232 6.873258069274989 0.9307545080007813 -1.457184886354593

In [78]:
y = w1*X1 + w2*X2 + \
            w3 * X3 + tanh(w4*X4) + w5*X5 + w6*X6 + \
            w7*X7 +  w8*X8 + w9*X9 + w10*X11 + w11*X11 + w12*X12 + \
            sigmoid(w12*X12) + w13*X13 + w14*X14 + w15*X15 +  w16*X16 + w17*X17

In [79]:
y +=  np.random.uniform(-100,100,1000)

In [80]:
y

0      43275.655780
1      48530.634788
2      41934.797944
3      55018.370467
4      50384.894100
           ...
995    53711.948132
996    45868.494189
997    44834.939287
998    47239.341289
999    43665.474059
Length: 1000, dtype: float64

In [91]:
q10 = np.percentile(y,100-3)
q9 = np.percentile(y, 100 -11 ) # return 50th percentile, e.g median.
q8 = np.percentile(y, 100 - 21 ) # return 50th percentile, e.g median.
q7 = np.percentile(y, 100 - 33) # return 50th percentile, e.g median.
q6 = np.percentile(y, 100-  45) # return 50th percentile, e.g median.
q5 = np.percentile(y, 45) # return 50th percentile, e.g median.
q4 = np.percentile(y, 33) # return 50th percentile, e.g median.
q3 =np.percentile(y, 21)
q2 = np.percentile(y, 1)
q1 = np.percentile(y, 3)

In [93]:
type(y)

pandas.core.series.Series

In [97]:
score = []
for i in y:
    if i < q1:
        score.append(1)
    elif i <q2:
        score.append(2)
    elif i <q3:
        score.append(3)
    elif i <q4:
        score.append(4)
    elif i <q5:
        score.append(5)
    elif i <q6:
        score.append(6)
    elif i <q7:
        score.append(7)
    elif i <q8:
        score.append(8)
    elif i <q9:
        score.append(9)
    else:
        score.append(10)

In [98]:
score

[4,
 7,
 3,
 10,
 8,
 3,
 8,
 7,
 8,
 3,
 4,
 7,
 8,
 3,
 4,
 6,
 5,
 10,
 9,
 6,
 1,
 10,
 5,
 10,
 5,
 8,
 4,
 6,
 3,
 3,
 3,
 3,
 7,
 10,
 5,
 3,
 3,
 6,
 6,
 10,
 10,
 7,
 10,
 5,
 9,
 7,
 7,
 5,
 8,
 6,
 4,
 10,
 9,
 10,
 3,
 8,
 3,
 5,
 10,
 3,
 4,
 5,
 8,
 4,
 10,
 7,
 5,
 7,
 3,
 5,
 10,
 5,
 7,
 5,
 9,
 5,
 3,
 9,
 9,
 3,
 6,
 9,
 3,
 7,
 1,
 4,
 9,
 6,
 3,
 3,
 4,
 7,
 7,
 9,
 10,
 3,
 4,
 9,
 3,
 5,
 7,
 6,
 10,
 6,
 4,
 9,
 3,
 5,
 3,
 9,
 4,
 3,
 10,
 4,
 9,
 9,
 4,
 10,
 7,
 3,
 5,
 8,
 4,
 7,
 4,
 5,
 4,
 9,
 9,
 3,
 1,
 10,
 3,
 8,
 3,
 3,
 5,
 6,
 3,
 5,
 3,
 6,
 8,
 3,
 6,
 6,
 3,
 9,
 7,
 4,
 9,
 7,
 3,
 4,
 9,
 6,
 10,
 5,
 4,
 7,
 7,
 4,
 8,
 4,
 6,
 4,
 10,
 5,
 9,
 7,
 4,
 3,
 3,
 8,
 4,
 3,
 10,
 5,
 6,
 4,
 4,
 5,
 7,
 7,
 7,
 3,
 4,
 1,
 8,
 8,
 9,
 1,
 7,
 4,
 5,
 6,
 6,
 5,
 3,
 3,
 7,
 8,
 3,
 9,
 10,
 5,
 9,
 6,
 6,
 8,
 3,
 4,
 8,
 9,
 7,
 10,
 7,
 10,
 10,
 7,
 8,
 10,
 3,
 3,
 3,
 5,
 1,
 4,
 8,
 5,
 3,
 10,
 6,
 7,
 4,
 7,
 6,
 6,
 3,
 8,
 8,
 7,
 10,
 9,
 9,
 5,
 10,
 6,
 4,
 5,
 4,
 3,
 10,
 6,
 10,
 3,
 6,
 7,
 10,
 3,
 7,
 4,
 3,
 9,
 3,
 5,
 7,
 5,
 7,
 7,
 5,
 9,
 8,
 10,
 7,
 10,
 10,
 3,
 9,
 3,
 3,
 5,
 8,
 5,
 8,
 9,
 9,
 6,
 4,
 9,
 3,
 5,
 4,
 3,
 8,
 8,
 5,
 4,
 10,
 8,
 10,
 3,
 8,
 9,
 3,
 4,
 5,
 9,
 9,
 5,
 10,
 3,
 6,
 4,
 4,
 10,
 9,
 8,
 9,
 9,
 9,
 10,
 8,
 10,
 5,
 5,
 9,
 3,
 9,
 7,
 5,
 6,
 10,
 4,
 3,
 8,
 8,
 7,
 3,
 4,
 3,
 8,
 3,
 3,
 8,
 10,
 6,
 3,
 4,
 6,
 4,
 9,
 6,
 10,
 6,
 5,
 4,
 5,
 3,
 10,
 7,
 1,
 5,
 9,
 10,
 8,
 1,
 3,
 3,
 8,
 5,
 8,
 3,
 7,
 4,
 5,
 4,
 4,
 6,
 8,
 10,
 9,
 8,
 5,
 3,
 9,
 4,
 3,
 5,
 8,
 3,
 10,
 6,
 7,
 1,
 3,
 10,
 10,
 6,
 3,
 6,
 4,
 6,
 8,
 9,
 6,
 4,
 8,
 6,
 4,
 5,
 10,
 7,
 4,
 8,
 9,
 3,
 3,
 9,
 7,
 6,
 8,
 4,
 10,
 7,
 4,
 8,
 10,
 4,
 7,
 4,
 3,
 8,
 1,
 7,
 10,
 4,
 3,
 7,
 7,
 3,
 10,
 1,
 9,
 3,
 5,
 6,
 6,
 8,
 4,
 6,
 8,
 6,
 10,
 6,
 10,
 4,
 3,
 8,
 9,
 4,
 9,
 3,
 5,
 8,
 3,
 5,
 5,
 10,
 10,
 3,
 8,
 10,
 3,
 3,
 8,
 3,
 7,
 3,
 3,
 5,
 6,
 9,
 6,
 3,
 8,
 6,
 9,
 7,
 8,
 6,
 10,
 10,
 4,
 3,
 10,
 10,
 7,
 10,
 8,
 1,
 4,
 7,
 10,
 6,
 4,
 5,
 3,
 6,
 8,
 5,
 7,
 4,
 10,
 3,
 4,
 4,
 4,
 4,
 5,
 7,
 8,
 3,
 8,
 5,
 3,
 8,
 5,
 8,
 1,
 3,
 8,
 7,
 10,
 3,
 6,
 6,
 3,
 8,
 3,
 3,
 6,
 5,
 5,
 3,
 6,
 5,
 3,
 3,
 4,
 8,
 8,
 6,
 7,
 10,
 3,
 3,
 3,
 9,
 4,
 10,
 3,
 7,
 10,
 7,
 5,
 10,
 1,
 9,
 10,
 9,
 6,
 8,
 5,
 9,
 8,
 1,
 7,
 7,
 4,
 5,
 9,
 10,
 4,
 4,
 3,
 7,
 6,
 7,
 8,
 8,
 8,
 7,
 9,
 6,
 10,
 1,
 5,
 5,
 7,
 6,
 5,
 7,
 10,
 9,
 5,
 3,
 4,
 7,
 5,
 1,
 1,
 9,
 3,
 9,
 10,
 4,
 7,
 3,
 5,
 3,
 9,
 4,
 4,
 9,
 3,
 1,
 5,
 3,
 1,
 8,
 1,
 4,
 4,
 7,
 8,
 7,
 3,
 6,
 8,
 9,
 4,
 5,
 6,
 6,
 7,
 7,
 3,
 6,
 8,
 8,
 10,
 7,
 9,
 8,
 7,
 3,
 3,
 7,
 3,
 9,
 6,
 3,
 8,
 4,
 7,
 3,
 8,
 7,
 1,
 4,
 9,
 4,
 6,
 6,
 5,
 7,
 9,
 8,
 5,
 9,
 7,
 8,
 8,
 8,
 8,
 5,
 8,
 3,
 8,
 8,
 7,
 3,
 4,
 6,
 6,
 10,
 5,
 7,
 10,
 4,
 3,
 9,
 10,
 4,
 3,
 5,
 10,
 10,
 10,
 6,
 3,
 10,
 10,
 5,
 7,
 9,
 3,
 4,
 4,
 9,
 3,
 6,
 8,
 6,
 6,
 5,
 6,
 8,
 9,
 8,
 3,
 3,
 5,
 9,
 7,
 10,
 3,
 5,
 8,
 6,
 7,
 5,
 3,
 7,
 10,
 4,
 6,
 8,
 6,
 3,
 7,
 7,
 6,
 7,
 5,
 9,
 10,
 1,
 3,
 7,
 8,
 5,
 3,
 5,
 4,
 9,
 8,
 4,
 8,
 10,
 4,
 7,
 6,
 8,
 10,
 3,
 3,
 4,
 6,
 7,
 5,
 4,
 8,
 6,
 3,
 9,
 3,
 8,
 5,
 4,
 6,
 9,
 3,
 7,
 3,
 8,
 1,
 4,
 9,
 5,
 4,
 6,
 3,
 3,
 4,
 5,
 5,
 10,
 7,
 9,
 3,
 4,
 8,
 9,
 10,
 1,
 3,
 7,
 7,
 10,
 3,
 9,
 3,
 5,
 4,
 6,
 8,
 9,
 9,
 3,
 8,
 4,
 8,
 1,
 7,
 6,
 10,
 9,
 8,
 4,
 3,
 5,
 7,
 7,
 3,
 7,
 7,
 3,
 9,
 3,
 3,
 7,
 9,
 4,
 5,
 10,
 10,
 3,
 9,
 3,
 4,
 6,
 1,
 7,
 4,
 3,
 4,
 8,
 6,
 4,
 8,
 5,
 10,
 3,
 3,
 10,
 7,
 3,
 8,
 7,
 4,
 5,
 4,
 8,
 5,
 3,
 5,
 3,
 8,
 9,
 6,
 5,
 5,
 3,
 9,
 7,
 5,
 8,
 10,
 3,
 7,
 10,
 6,
 10,
 6,
 9,
 8,
 10,
 10,
 5,
 8,
 8,
 1,
 6,
 5,
 6,
 9,
 3,
 4,
 6,
 1,
 4,
 5,
 7,
 5,
 3,
 3,
 5,
 4,
 9,
 8,
 4,
 7,
 5,
 10,
 7,
 3,
 7,
 7,
 3,
 5,
 8,
 5,
 5,
 7,
 7,
 5,
 5,
 9,
 7,
 9,
 1,
 9,
 5,
 6,
 4,
 8,
 8,
 7,
 3,
 8,
 8,
 7,
 10,
 4,
 10,
 9,
 3,
 7,
 3,
 8,
 5,
 3,
 3,
 7,
 7,
 9,
 8,
 4,
 3,
 6,
 4,
 3,
 5,
 6,
 10,
 9,
 3,
 5,
 6,
 3,
 5,
 3,
 10,
 10,
 5,
 5,
 6,
 4]

In [99]:
data['score'] = score

In [100]:
data

,CertificateNums,VolunteerHours,Donation,YearsOfService,FineNums,ShoppingNums,ShoppingAmount,Stock,RealEstateSearch,ElectricCar,BMI,Sex,Age,TravelNums,SNSFriends,BookNums,UseTrafficNums,score
0,1.87,56.87,1,4.52,-9,4.66,92695.82,0,7,1,19.19,0,8,1.60,148,2.03,14.16,4
1,1.54,44.34,0,3.40,-3,4.48,104661.87,0,1,1,24.16,0,2,1.33,142,1.99,16.83,7
2,3.98,60.37,0,4.49,-5,4.69,91292.12,1,0,0,24.49,0,2,1.55,47,2.01,15.98,3
3,2.79,46.33,1,4.22,-2,4.47,115118.65,1,5,1,24.76,1,9,1.62,395,1.99,20.09,10
4,2.28,42.92,1,5.81,-4,5.77,106202.76,1,8,0,19.54,1,2,1.45,309,2.02,13.54,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2.33,52.84,0,4.54,-6,7.92,116831.41,0,9,0,21.44,0,8,1.44,82,2.01,16.85,10
996,2.71,58.24,1,3.57,-8,4.78,96511.36,1,3,0,24.52,1,5,1.51,280,1.99,15.95,5
997,2.26,46.84,0,6.57,-9,6.12,95559.36,0,1,0,24.33,1,7,1.45,204,1.98,15.99,5
998,3.51,55.81,1,5.86,-5,5.70,98984.89,1,6,0,21.76,0,9,1.42,315,2.01,11.81,6
999,2.30,49.89,1,5.10,-1,5.40,95246.31,1,6,0,25.78,0,2,1.60,48,2.01,16.13,4

In [101]:
data.to_csv('y까지 g.csv')